@import "tailwindcss";

:root {
  /*Light color scheme here:*/
  --light-text-color: #000000;
  --light-contrast-text-color: #ffffff;

  --light-bg-color: #ffffff;
  --light-secondary-bg-color: #eaf7fe;
  --light-gradient-bg-color: #ddd9f9;

  --light-primary-button-bg-color: #204c85;
  --light-secondary-button-bg-color: #483e74;

  --light-primary-border-color: #066ec3;
  --light-hover-border-color: #60c9f6;
}

body {
  /* Color scheme */
  --text-color: var(--light-text-color);
  --contrast-text-color: var(--light-contrast-text-color);

  --bg-color: var(--light-bg-color);
  --secondary-bg-color: var(--light-secondary-bg-color);
  --gradient-bg-color: var(--light-gradient-bg-color);

  --primary-button-bg-color: var(--light-primary-button-bg-color);

  --secondary-button-bg-color: var(--light-secondary-button-bg-color);

  --primary-border-color: var(--light-primary-border-color);
  --hover-border-color: var(--light-hover-border-color);

  color: var(--text-color);
  background-color: var(--bg-color);
}

/* button */
