@import "tailwindcss";

:root {
  /*Light color scheme here:*/
  --light-text-color: #000000;
  --light-secondary-text-color: #666666;
  --light-contrast-text-color: #ffffff;

  --light-bg-color: #ffffff;
  --light-secondary-bg-color: #eaf7fe;
  --light-gradient-bg-color: #ddd9f9;

  --light-primary-button-bg-color: #204c85;
  --light-secondary-button-bg-color: #483e74;

  --light-primary-border-color: #066ec3;
  --light-hover-border-color: #60c9f6;
}

body {
  /* Color scheme */
  --text-color: var(--light-text-color);
  --secondary-text-color: var(--light-secondary-text-color);
  --contrast-text-color: var(--light-contrast-text-color);

  --bg-color: var(--light-bg-color);
  --secondary-bg-color: var(--light-secondary-bg-color);
  --gradient-bg-color: var(--light-gradient-bg-color);

  --primary-button-bg-color: var(--light-primary-button-bg-color);

  --secondary-button-bg-color: var(--light-secondary-button-bg-color);

  --contrast-button-bg-color: var(--light-contrast-button-bg-color);
  --contrast-button-hover-bg-color: var(--light-contrast-button-hover-bg-color);

  --primary-border-color: var(--light-primary-border-color);
  --hover-border-color: var(--light-hover-border-color);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.dark-mode {
  /* Color scheme */
  --text-color: var(--dark-text-color);
  --secondary-text-color: var(--dark-secondary-text-color);
  --highlight-text-color: var(--dark-highlight-text-color);
  --contrast-text-color: var(--dark-contrast-text-color);

  --bg-color: var(--dark-bg-color);
  --secondary-bg-color: var(--dark-secondary-bg-color);
  --highlight-bg-color: var(--dark-highlight-bg-color);
  --contrast-bg-color: var(--dark-contrast-bg-color);

  /* Missing button dark-modes */
}
